body {
  background-color: #062c3b
  }
  h1 {color: antiquewhite;

  }
  h2 {
   background-color: #353035;
   color: #64646d;
  }
  meta1 {
   
    color: #ff0000;
    }
  meta2 {
    color: #ff0000;
    }
b1 {
      background-color: #ffb6c1;
      }
      b2 {
        background-color: #ffff00;
        color: #ff4500;
        }
        b3 {
          color: #8b4513;
          background-color: #d3d3d3;
         
          }